body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  background: linear-gradient(120deg, #ffecd2, #fcb69f);
}


.form-box {
  width: 320px;
  margin: 60px auto;
  background: rgb(61, 168, 222);
  padding: 20px;
  border-radius: 20px;
  box-shadow: -13px 8px 20px 6px #e49191 inset;


  transition: transform 0.5s ease, box-shadow 0.5s ease;
  animation: fadeIn 0.8s ease-in-out;
}


.form-box:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}


h2 {
  text-align: center;
  color: #fff;
}


.field {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}


label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}


input, select {
  padding: 7px;
  border-radius: 10px;
  border: none;
  outline: none;

  
  transition: all 0.3s ease;
}


input:focus, select:focus {
  background-color: #fff8dc;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
}


button {
  width: 100%;
  margin-top: 20px;
  padding: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 10px;

  
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


button:hover {
  background-color: #daba1a;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
